:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --other-text-color: #fff;
    --primary-rectangle-color: #F5F4FA;
    --accent-rectangle-color: #2196F3;
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --head-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

/*Header*/

.header{
    background-color: var(--head-background-color);
}

.logo{
    color: var(--accent-text-color);
    font-family: raleway, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
}

.logo-header {
    color: var(--title-text-color);
}

.list{
    list-style: none;
}

.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
    color: var(--accent-text-color);
}

.contacts {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-text-color);
}

/*Hero*/

.hero-title {
    background-color: var(--footer-background-color);
    color: var(--other-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/*кнопка не делается по середине*/
.service {
    background-color: var(--accent-rectangle-color);
    color: var(--other-text-color);
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.service:hover,
.service:focus {
    background-color: #0028db;
}

/*main*/

.section-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.subtitle {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.subtitle-text {
    font-size: 14px;
    line-height: 1.71;
}



.section-team {
    background-color: var(--secondary-background-color);
}

.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.name-text {
    font-size: 16px;
    line-height: 1.19;
}

    /*footer*/

.footer {
    background-color: var(--footer-background-color);
}

.address {
    list-style: none;
}

.logo-footer {
    color: var(--other-text-color);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.address-map {
    color: var(--other-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contacts-footer{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71; 
}

.address-map:hover,
.address-map:focus,
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--accent-text-color);
    list-style: none;
}

/*portfolio*/

.btn-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-text-color);
    cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
   background-color: var(--accent-text-color);
   color: var(--other-text-color);
}

.works {
    list-style: none;
}

.work {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

.work-description {
    font-size: 16px;
    line-height: 1.88;
}